/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import '@/assets/layout/layout.scss';

/* PrimeVue */
// @import 'primevue/resources/primevue.min.css'; // version deplicated. You must open the command line if you are using < 3.29.00
@import 'primeflex/primeflex.scss';
@import 'primeicons/primeicons.css';

/* Demos */
@import '@/assets/demo/demo.scss';

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

// quill toolbar-tooltip
.ql-formats {
    button,
    .ql-picker {
        &[class^='ql-'] {
            position: relative;
            &::after {
                white-space: nowrap;
                position: absolute;
                display: none;
                bottom: 100%;
                left: 50%;
                transform: translate(-50%, -10px);
                background-color: #000;
                color: #fff;
                padding: 3px;
            }
            &::before {
                content: '';
                position: absolute;
                display: none;
                width: 0px;
                height: 0px;
                border-width: 10px;
                border-style: solid;
                border-color: rgb(34, 41, 85) transparent transparent;
                left: 0px;
                transform: translate(30%, -18px);
                z-index: 10;
            }
            &:hover {
                &::after,
                &::before {
                    display: block;
                }
            }
        }
        &.ql-bold::after {
            content: 'In đậm';
        }
        &.ql-italic::after {
            content: 'Nghiêng';
        }
        &.ql-underline::after {
            content: 'Gạch chân';
        }
        &.ql-strike::after {
            content: 'Gạch ngang';
        }
        &.ql-font-style::after {
            content: 'Font Style';
        }
        &.ql-align {
            &[value='']::after {
                content: 'Align Left';
            }
            &[value='center']::after {
                content: 'Align Center';
            }
            &[value='right']::after {
                content: 'Align Right';
            }
            &[value='justify']::after {
                content: 'Align Justify';
            }
        }
        &.ql-list {
            &[value='bullet']::after {
                content: 'Bullet List';
            }
            &[value='ordered']::after {
                content: 'Numbered List';
            }
        }
        &.ql-blockquote::after {
            content: 'Blockquote';
        }
        &.ql-link::after {
            content: 'Link';
        }
        &.ql-clean::after {
            content: 'Clean Markup';
        }
        &.ql-color::after {
            content: 'Text Color';
        }
        &.ql-code-block::after {
            content: 'Script/code';
        }
        &.ql-image::after {
            content: 'Hình ảnh';
        }
        &.ql-video::after {
            content: 'Nhúng Video';
        }
    }
}
